/*メイン*/

.main {
  color:#5D5D5E;
  font-family: 'Kosugi Maru', sans-serif;
}

.ranking {
  border-bottom: solid 10px;
  border-color:  #FFA500;
}

.ranking-title {
  font-size: 20px; 
}

select {
  width:  180px;
  height: 30px;
}

.challenge-button {
  background-color: #99FF99;
  border-radius: 100px;
  border: none;
}

.details {
  width: 300px;
}

.pagenation {
  color:  #FFA500;
}
