html{
  font-family: 'Kosugi Maru', sans-serif;
}

.container{
  color: #5d5d5d;
}
/* 修正ページ用 */
.edit{
  background-color: #F5F3F4;
}
.editbutton{
  color: #fff;
  background-color: #C6F281; 
}
/* ///// */
button{
  background-color: #C6F281; 
  color: #fff; 
  text-align: center; 
  width: 100px; 
  padding: 14px; 
  border-radius: 25px; 
}

.needbtn{
  background-color:#F00808; 
  color: #fff; 
  text-align: center; 
  width: 100px; 
  padding: 3px; 
  border-radius: 25px; 
}