html {
background-color: #FFFF88;
}


header {
    margin-top: 30px;
    color: red;
    
}
h1 {
    color: red;
}

body {
background-color: #FFFF88;
}

hr{
    border-width: 3px;
}

.paise {
  background-color: white;
}